<%-include("header")%>
<div class="container text-center">
	<div class="card" style="margin-top: 20%;">
		<div class="card-title">
			<h1>Invalid Data</h1>
		</div>
		<div class="card-body">
			<a href="/">try again</a>
		</div>
	
	</div>	
	</div>
<%-include("footer")%>